a{
    text-decoration: none;
}

.soderjanie{
    border: 1px solid black; 
    width: 400px; 
    background-color: whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
}
.soderjanie li{
    font-size: 25px;
}
.textHome{
    margin-left: 100px;
    margin-right: 100px;
}
.textHome p{
    font-size: 25px;
}
.menu{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 25px 10px black;
}
.menu ul{
    display: flex;
    justify-content: center;
}
.menu li{
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 25px;
}
.banner img{
    height: 850px;
    text-align: center;
}
.banner{ 
    margin-top: 30px;
    text-align: center;
}
.tours {
    margin-top: 50px;
    display: flex; 
    text-align: center;
    justify-content: center;
}
.tours .tour{
    margin-left: 20px;
    margin-right: 20px;
}
.tours img{
    width: 400px;
    height: 400px;
}