a{
    text-decoration: none;
}

.soderjanie{
    border: 1px solid black; 
    width: 400px; 
    background-color: whitesmoke;
}
.menu{
    border: 1px solid black;
}
.menu ul{
    display: flex;
}
.menu li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 20px;
}