a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.sectionBig{
    margin-left: 230px;
    margin-right: 230px;
}
.soderjanie{
    border: 1px solid black; 
    width: 400px; 
    background-color: whitesmoke;
    
}
.soderjanie li{
    font-size: 25px;
} 
.textHome p{
    font-size: 25px;
}
.menu{ 
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px 2px black;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 25px;
}
.banner img{
    height: 810px;
    text-align: center;
    box-shadow: 0px 0px 7px 2px black;
}
.banner{ 
    margin-top: 30px;
    text-align: center;
}
.tours {
    display: flex;
    justify-content: center;
    background:linear-gradient(rgba(155, 255, 255, 0.7), rgba(0, 0, 0, 0.8)), 
    url('https://gor-alp.ru/wa-data/public/blog/img/snaryazhenie-dlya-turizma1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.tours .tour{
    margin-left: 20px;
    margin-right: 20px;
}
.tours img{
    width: 400px;
    height: 400px;
}
.map{
    margin-top: 100px;
    text-align: center;
}
.map h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.menu img{
    width: 220px;
}
.foot img {
    width: 50px;
}
.pay img {
    width: 80px;
    margin-left: 10px;
}
.pay ul{
    display: flex;
}
.foot{width: 50%;}
.pay{width: 50%;}
.foot p {
   font-size: 25px;
}
.foot ul{
    display: flex;
}
.foot li{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
footer{
    margin-top: 100px;
    display: flex}
.regions{
    display: flex;
    text-align: center;
    justify-content: center;
}
.regions img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.regions .tour{
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}