.sliderGEnaShopy img{
    height: 600px;
    object-fit: cover;
}
.sliderGEnaShopy  .carousel-caption{
    background-color: rgb(119, 211, 158);
    border-radius: 20px;
}
/* cardProductMan */
.cardProductMan img{
    height: 250px;
    object-fit: cover;
}
.blockFooter{
    background-color: black;
}
/* sliderBlockProduct */
.sliderBlockProduct img{
    height: 600px;
    object-fit: cover;
}
.col5BlockGena img{
    width: 450px;
     height: 300px;
    object-fit: cover;
}
.sezonAct{
    text-align: center;
}
.sezonAct img{
    width: 100px;
    height: 100px;
}
/*  */
.imageSezon {
    transition: transform 0.5s ease-in-out;
}

.sezonAct:hover .imageSezon {
    transform: scaleX(-1); /* Переворот по горизонтали */
}
.imgBlock{
    height: 250px;
}
.imgBlock img{
    height: 100%;
    object-fit: cover;
}
/* recomBlock */
.recomBlock p{
    margin: 0;
    padding-bottom: 10px;
}
.recomBlock a{
    width: 100%;
}
.priceRecom{
    font-size: 15px;
}
.textRecom{
    font-size: 13px;
}
.dangerRecom{background-color: black; color: white;}
.dangerRecom:hover{background-color: red; color: white;}