.sliderGEnaShopy img{
    height: 600px;
    object-fit: cover;
}
.sliderGEnaShopy  .carousel-caption{
    background-color: rgb(119, 211, 158);
    border-radius: 20px;
}
/* cardProductMan */
.cardProductMan img{
    height: 250px;
    object-fit: cover;
}
.blockFooter{
    background-color: black;
}
/* sliderBlockProduct */
.sliderBlockProduct img{
    height: 600px;
    object-fit: cover;
}
.col5BlockGena img{
    width: 450px;
     height: 300px;
    object-fit: cover;
}
.sezonAct{
    text-align: center;
}
.sezonAct img{
    width: 100px;
    height: 100px;
}
/*  */
.imageSezon {
    transition: transform 0.5s ease-in-out;
}

.sezonAct:hover .imageSezon {
    transform: scaleX(-1); /* Переворот по горизонтали */
}
.imgBlock{
    height: 250px;
}
.imgBlock img{
    height: 100%;
    object-fit: cover;
}
/* recomBlock */
.recomBlock p{
    margin: 0;
    padding-bottom: 10px;
}
.recomBlock a{
    width: 100%;
}
.priceRecom{
    font-size: 15px;
}
.textRecom{
    font-size: 13px;
}
.dangerRecom{background-color: black; color: white;}
.dangerRecom:hover{background-color: red; color: white;}
/* header */
.header{
    background-color: black;
    color: white;
}
.header ul{
    padding: 0;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.header li{
    list-style-type: none;
}
.header img{
    margin-top: -8px;
    width: 30px;
}
.breadcrumb a{
    text-decoration: none;
    color: rgb(72, 72, 72) ;
}
/* categoryGenskor */
.categoryGenskor ul{
    display: flex;
    gap: 20px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(239, 239, 239);
}
.categoryGenskor li{
    list-style-type: none;
}
.categoryGenskor a{
    color: black;
    text-decoration: none;
}
.imgBlock{
    height: 350px;
    width: 300px;
}
.imgBlock img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.borderCategory{
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.pricetext{font-size: 15px!important;}
.textBlock p{
    margin: 0;
    margin-top: 5px;
    font-size: 13px;
}
.textBlock a{
    margin-top: 10px;
    width: 100%;
}
.page-link{
    color: black;
}