.catalog{
    margin-left: 100px;
    margin-right: 100px;
}

.catalog input{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid gainsboro;
}
.blockCatalog{
    margin-top: 50px;
    width: 100%;
    display: flex
}
.percent20{
    width: 20%;
}
.percent80{
    width: 80%;
}
.menuPercent80 ul{
    display: flex;
    font-size: 20px;
    text-transform:capitalize;
} 
.menuPercent80 a{
color: rgb(100, 100, 100);;
}
.menuPercent80 li{
    margin-left: 20px;
    margin-right: 20px;
} 
.menuPercent80 {
    align-items: center;
    display: flex;
}
.menuPercent80 b{
    color: rgb(100, 100, 100);
    margin-left: 10px;
    margin-right: 5px;
}
/* blockCardGame */
.blockCardGame{
    display: flex;
}
.blockCardText{
    margin-left: 15px;
    width: 500px;
}
.blockCardText p{
    font-size: 10px;
    text-transform: uppercase;
}
/*  */
.redSkidkaCart{
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: 800;
    margin-right: 10px;
}
.blockCardText h3{
    width: 80%;
    color: black;
    font-weight: 600;
}
.graySkidkaCart{
    background-color: rgb(220, 220, 220);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}
.graySkidkaCart:hover{
    background-color: rgb(149, 255, 186);
    border: 1px solid rgb(43, 126, 37);
}
.graySkidkaCart a{
    color: rgb(90, 90, 90);
}
.blockCardPriceCart{
    text-align: center;
    margin-top: 35px;
} 
.blockTextImgSmall{
    width: 25px;
}
.blockCardText span{
    font-size: 10px; 
}
.blockCardText ul{
    display: flex;
    padding: 0;
}
.blockCardText{
    color: gray;
} 
/* percent20 */
.percent20 ul{
    display: flex;
    padding: 0;
}
.percent20 ul span{
    margin-left: 5px;
    margin-right: 5px;
}
.myInput input{
    width: 20%;
}