.percent70Winner{
    text-align: center;
}
.Blockwinner{
    width: 100%;
    display: flex;
}
.percent70Winner{
    width: 70%;
}
.percent30Winner{
    width: 30%;
}
.borderBlockwinner{
    margin-left: 100px;
    margin-right: 100px;
}
.cardWinner img{
    width: 100%;
}
.avaWinner img{
    width: 45px;
    border-radius: 50%;
}
.cardWinner .avaWinner{
margin-top: -8px;
}
.cardWinner{
    width: 270px;
    margin-top: 20px;
    margin-right: 15px;
    position: relative; 
}
.cardWinner p{
    margin: 0;
}
.avaWinner{
    padding-top: 10px;
    justify-content: center;
    display: flex;
    background-color: white;
}
.avablock{
    margin-right: 10px;
}
.buyerWinner{
    background-color: rgb(196, 41, 41);
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-transform: uppercase;
}
.block70Winner{
    display: flex;
} 
/* blockimg30Winner */
.block30winner{
    background-color: #4CAE51;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.blockimg30Winner img{
    width: 300px;
}