body{
    margin: 0px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.menu{ 
    padding-left: 100px;
    background-color: rgb(66, 66, 66);
}
.menu ul{
    display: flex;
}
.menu li{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
}
.menu input{
    font-size: 20px;
}
/* head menu */
.headMenu{
    background-color: rgb(203, 221, 221);
    padding-left: 100px;
    display: flex;
    text-transform: uppercase;
}
.logo img{
    width: 150px;
}
.headMenuLi ul{
    display: flex;
}
.headMenuLi li{
    margin-left: 15px;
    margin-right: 15px;
}
.headMenuButtons{
    margin-top: 10px;
}
.headMenuButtons a{
    color: white; 
    padding-top: 8px;
    padding-bottom: 8px; 
    padding-right: 10px;
    padding-left: 10px; 
}
.blueButton{
    background-color: rgb(31, 145, 221);
}
.redButton{
    background-color: rgb(231, 72, 40);
}
/* banner */
.banner{
    text-align: center;
}
/* card */
.cardGames{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}
.cardList{
    width: 220px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 2px 2px 3px rgb(118, 118, 118);
}
.cardText ul{
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
.cardText img{
    width: 40px;
} 
.salesCard{
    background-color: orange;
    padding: 5px;
}
.salesCard a{
    color: white;
}