body{
    background-image: url('https://steambuy.com/partner/img/background.png');
    background-color: #498aca;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px; 
    font-family: "Science Gothic", sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo img {
    width: 180px;
    height: auto;
}

.backLink {
    font-size: 14px;
    color: #000;
}

.authButtons {
    display: flex;
    gap: 10px;
}
.container {
    max-width: 1200px; 
    margin: 0 auto;    
    padding: 0 20px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 10px 18px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
}

.btn.blue {
    background-color: rgb(52, 148, 250);
}

.btn.red {
    background-color: red;
}
/* textSectionZarabotai */
.section{
    background-color: #F5F5F5;
    margin-left: 250px;
    margin-right: 250px;
}
.textSectionZarabotai{
    text-align: center;
    font-weight: 300;
}
.textSectionZarabotai span{
    color: rgb(217, 54, 54);
    font-size: 35px;
}
/* cardZarabotai */
.thirdCardZarabotai{
    margin-top: 50px;
    display: flex;
    text-align: center;
    font-weight: 300;
}
.cardZarabotai{
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    color: rgb(84, 83, 83);
}
.cardZarabotai h3{
    font-weight: 400;
}
.imgcardZarabotai{
    width: 130px;
    display: block;
}
.cardZarabotai img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}
/* Мобильная адаптация  */
@media (max-width: 768px) {

    body {
        background-attachment: scroll;  
        background-size: cover;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 15px;
    }
    .logo img {
        width: 140px;
    }
    .backLink {
        font-size: 12px;
    }
    .authButtons {
        width: 100%;
        justify-content: flex-start;
    }
    .btn {
        padding: 8px 14px;
        font-size: 11px;
    }
    /* Контентный блок */
    .section {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        padding: 15px;
        box-sizing: border-box;
    }
    .textSectionZarabotai {
        font-size: 14px;
    }
    .textSectionZarabotai span {
        font-size: 26px;
    }
    /* Карточки */
    .thirdCardZarabotai {
        flex-direction: column;
        margin-top: 20px;
    }
    .cardZarabotai {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
        padding: 15px;
    }
    .imgcardZarabotai {
        width: 100px;
        margin: 0 auto 10px auto;
    }
    .cardZarabotai img {
        height: 100px;
    }
}